@import "tailwindcss";

@theme {
  --font-suisse-bold: var(--font-suisse-bold);
  --font-suisse-regular: var(--font-suisse-regular);
  --font-oswald: var(--font-oswald);
  --font-dm-mono: var(--font-dm-mono);

  --color-bg-primary: #F9F4EB;
  --color-bg-secondary: #000000;
  --color-text-grey: #595858;
}

body { 
  @apply bg-bg-primary;
}

.center-content {
  @apply flex justify-center items-center;
}

.paragraph1 {
  @apply text-text-grey text-sm md:text-base font-suisse-regular;
}

.paragraph2 {
  @apply text-text-grey text-sm md:text-base font-suisse-bold;
}

.small-text {
  @apply text-bg-primary text-xs md:text-sm font-dm-mono;
}