@import "tailwindcss";

@theme {
  --font-suisse-bold: var(--font-suisse-bold);
  --font-suisse-regular: var(--font-suisse-regular);
  --font-oswald: var(--font-oswald);
  --font-dm-mono: var(--font-dm-mono);

  --color-primary: #F9F4EB;
  --color-secondary: #000000;
  --color-accent: #FFD275;
  --color-dark-grey: #595858;
  --color-light-grey: #EAEAEA;
}

body { 
  @apply bg-primary;
}

.center-content {
  @apply flex justify-center items-center;
}

.between-content {
  @apply flex justify-between items-center;
}

.column-content {
  @apply flex flex-col justify-center items-center;
}

.paragraph1 {
  @apply text-dark-grey text-sm md:text-base font-suisse-regular;
}

.paragraph2 {
  @apply text-dark-grey text-sm md:text-base font-suisse-bold;
}

.small-text {
  @apply text-primary text-sm md:text-sm font-dm-mono;
}

.large-text {
  @apply text-primary text-lg font-dm-mono;
}

.caption-text {

}